<style>
    .pet {
        position: fixed;
        left: 3%;
        top: 60%;
        z-index: 3!important;
        width: 200px;
        height: 200px;
    }
    
    .petImg {
        width: 200px;
    }
    
    @media (min-width: 1300px) {
        .pet {
            position: fixed;
            left: 3%;
            top: 72%;
            z-index: 3!important;
            width: 200px;
            height: 200px;
        }
        .petImg {
            width: 250px;
        }
    }
</style>
<div class="main-wrapper">

    <div [hidden]="!cicloMascota" class="pet">

        <img [src]="imagenMascota" class="petImg">
    </div>
    <!-- partial:sidebar -->
    <app-sidebar style="z-index: 2;"></app-sidebar>
    <!-- partial -->



    <div class="page-wrapper" style="z-index: 1;">

        <!-- partial:navbar -->
        <app-navbar></app-navbar>
        <!-- partial -->

        <div class="page-content" style="background-image: url('https://interacthink.com/jaguar/desktop/assets/images/back-dashboard.svg');">

            <!-- Spinner for lazyload modules -->
            <!-- <div *ngIf="isLoading" class="spinner-wrapper">
                <div class="spinner">Loading...</div>
            </div> -->

            <div contentAnimate *ngIf="!isLoading">
                <router-outlet></router-outlet>
            </div>

        </div>



    </div>


</div>