<style>
    .efecto:hover {
        width: 200%;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- <div class="carousel-item active">
                        <img src="" class="d-block w-100" alt="...">
                    </div> -->
                    <div class="carousel-item" *ngFor="let i = index;let ban of listaBanners" [ngClass]="{'active':i == 0}">
                        <!-- <div [ngClass]="i == 0 ? 'carousel-item active':'carousel-item'" *ngFor="let i = index let ban of listaBanners"> -->

                        <img src="{{ ban.archivo }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </div>

    <div class="row mt-3">
        <div class="card" style="background-color:rgba(0,0,0,0.25);color:white!important;border:0px">
            <div class=" text-center">
                <div class="row mt-1">
                    <div class="col-lg-12">
                        <a target="_blank" href="https://www.jaguar-ep.com/"><img src="https://interacthink.com/jaguar/material/img/6bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <a target="_blank" href="https://soffid.jaguar-ep.com/soffid/main/menu.zul?option=appmenu_P2Approve"><img src="https://interacthink.com/jaguar/material/img/7bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <a target="_blank" href="https://soffid.jaguar-ep.com/soffid/main/menu.zul?option=appmenu_P2Workflow"><img src="https://interacthink.com/jaguar/material/img/8bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <a target="_blank" href="https://soffid.jaguar-ep.com/soffid/main/menu.zul?option=appmenu_P2Ideas"><img src="https://interacthink.com/jaguar/material/img/9bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <!-- <a target="_blank" href="https://idp.jaguar-ep.com/profile/SAML2/Unsolicited/SSO?providerId=https://jaguarep.myfreshworks.com/sp/SAML/457531765233658207/metadata"><img src="https://interacthink.com/jaguar/material/img/1000bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a> -->

                        <a target="_blank" href="https://buzon.jaguar-ep.com/"><img src="https://interacthink.com/jaguar/material/img/1111bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <a target="_blank" href="https://jaguar.workplace.com"><img src="https://interacthink.com/jaguar/material/img/12bt.png" class="zoom" style="cursor:pointer;width: 200px;"></a>

                        <a target="_blank" href="https://soffid.jaguar-ep.com/soffid/main/menu.zul?option=appmenu_Potentor "><img src="https://interacthink.com/jaguar/material/img/13bt.png " class="zoom " style="cursor:pointer;width: 200px; "></a>

                        <a target="_blank " href="https://sedein.com/jaguar/Web/ "><img src="https://interacthink.com/jaguar/material/img/16bt.png " class="zoom " style="cursor:pointer;width: 200px; "></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-lg-5 ">
            <div class="card " style="background-color:rgba(0,0,0,0.25);color:white!important;border:0px ">
                <div class="card-body text-center ">
                    <span style="font-size: 25px; ">PMO</span>
                    <div class="row mt-1 ">
                        <div class="col-lg-6 ">
                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/394354911567806 " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom: 2px; " type="button ">Master Drilling Plan</a>
                            <a target="_blank " href="https://jaguarep-my.sharepoint.com/:f:/g/personal/odeta_chitaniuc_jaguar-ep_com/EsXHreBMNcJLlD9VWkknT7ABAtPoReY_yxlYWGqdYyalww?e=efQEda " class="btn btn-primary btn-block " style="border-radius:
                            15px;margin-bottom: 2px; " type="button ">Sustentabilidad</a>
                            <a target="_blank " href="https://jaguarep-my.sharepoint.com/:f:/g/personal/odeta_chitaniuc_jaguar-ep_com/EvVyIX3yoqNJrSHf5zXQ1DsB6dlNhJatpGfMTQdbNJV-qA?e=j2B9G3 " class="btn btn-primary btn-block " style="border-radius:
                            15px; " type="button ">Planes y Porgramas</a>
                        </div>
                        <div class="col-lg-6 ">
                            <a target="_blank " href="https://jaguarep-my.sharepoint.com/:f:/g/personal/odeta_chitaniuc_jaguar-ep_com/EnApqs4DkN1HuUTB1q4mbt0BLI61-5fz0oAFxZ37rHmAFg?e=ujeZeG " class="btn btn-primary btn-block " style="border-radius:
                            15px;margin-bottom: 2px; " type="button ">UT's</a>
                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/514926319510664 " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom: 2px; " type="button ">Intervenciones</a>
                            <a target="_blank " href="https://jaguarep-my.sharepoint.com/:f:/g/personal/odeta_chitaniuc_jaguar-ep_com/ErGgUnuFpNJHhJ7DlWE-DQwB-niILEzoqAnDLJIKDVWsGg?e=6Be3HJ " class="btn btn-primary btn-block " style="border-radius:
                            15px; " type="button ">Comercialización</a>
                        </div>
                        <div class="col-lg-12 "></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-7 ">
            <div class="card " style="background-color:rgba(0,0,0,0.25);color:white!important;border:0px ">
                <div class="card-body text-center ">
                    <span style="font-size: 25px; ">CAPITAL HUMANO Y CENTRO DE MONITOREO</span>
                    <div class="row mt-1 ">
                        <div class="col-lg-6 ">
                            <a target="_blank " href="https://forms.office.com/pages/responsepage.aspx?id=n-oxczZqbUa--C0ZZUkJhNR3uQ7x8dhJiTHJGFNRRVJUMjNCQUIwUUk2RUU2TktYTFY4N1A1NzFTMi4u " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom:
                            2px; " type="button ">Censo Covid</a>
                            <a target="_blank " href="https://forms.office.com/pages/responsepage.aspx?id=n-oxczZqbUa--C0ZZUkJhPzM42VFxAxBjxx5F6_-RYxUODZSSkI3VFFPNjJVQUtYWU5MRjgzTlRYSC4u " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom:
                            2px; " type="button ">Jaguar Break</a>
                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/409670636702900 " class="btn btn-primary btn-block " style="border-radius: 15px; " type="button ">Políticas CH</a>
                        </div>
                        <div class="col-lg-6 ">

                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/401127847557179 " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom: 2px; " type="button ">Recursos Frecuentes</a>
                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/463233878013242 " class="btn btn-primary btn-block " style="border-radius: 15px; " type="button ">Yuú: Plan de Beneficios</a>
                            <a target="_blank " href="https://jaguar.workplace.com/work/file_viewer/690474845289143/?surface=KNOWLEDGE_BASE " class="btn btn-primary btn-block " style="border-radius: 15px; " type="button ">Líneas de Emergencía CMR</a>
                        </div>
                        <div class="col-lg-12 mt-2 ">
                            <a target="_blank " href="https://jaguar.workplace.com/work/knowledge/409668940036403 " class="btn btn-primary btn-block " style="border-radius: 15px;margin-bottom: 2px; " type="button ">Registros de Capacitación y Entrenamiento</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
    <div class="row mt-3 ">
        <div class="col-lg-12 ">
            <div class="card " style="background-color:rgba(0,0,0,0.25);color:white!important;border:0px ">
                <div class="card-body text-center ">
                    <span style="font-size: 30px; ">Noticias</span>
                    <div class="row mt-3 fs-6 text " *ngFor="let noti of listaNoticias | slice: - 3 " style="border-top:3px solid #F3AF4F; ">
                        <div class="col-lg-4 mt-3 ">
                            <img src="{{ noti.imagen }} " class="img-fluid img-thumbnail " style="width:200px;height: 90px;object-fit: cover; ">
                        </div>
                        <div class="col-lg-8 mt-3 ">
                            <p class="text-start "><strong>{{ noti.titulo | uppercase }}</strong><br></p>
                            <p class="text-start ">{{ noti.descripcion | slice:0:90 }}</p>
                        </div>
                        <div class="col-lg-12 mt-2 ">
                            <p class="text-end "><a href="/#/noticia-detalle/{{noti.id}} " style="color:#F3AF4F ">Leer completo...</a></p>
                        </div>
                    </div>


                </div>
                <div class="d-grid gap-2 ">
                    <button routerLink='/noticias' class="btn btn-primary btn-lg " type="button ">Ver Noticias</button>
                </div>
            </div>
        </div>
    </div>
</div>