<div class="row">
    <div class="col-lg-8 offset-2">
        <!-- <div class="card">
            <div class="card card-body"> -->
        <img src="https://interacthink.com/jaguar/desktop/assets/images/logo.svg" width="250" class="rounded mx-auto d-block" />
        <!-- </div>
        </div> -->
    </div>
    <div class="col-lg-8 offset-2">
        <div class="card" style="background-color:rgba(0,0,0,0.25);border-radius: 20px;border:0px">
            <div class="card card-body" style="background-color:rgba(0,0,0,0.25);color:white!important;border-radius: 20px;border:0px">
                <!-- <form (ngSubmit)="login(formLogin)" #formLogin="ngForm">
                    <div class="mb-3">
                        <label for="userAdmin" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="userAdmin" name="userAdmin" aria-describedby="userAdmin" required [(ngModel)]="usuario.usuario">

                    </div>

                    <div class="mb-3">
                        <label for="passAdmin" class="form-label">Password</label>
                        <input type="password" class="form-control" minlength="6" id="passAdmin" name="passAdmin" required [(ngModel)]="usuario.pass">

                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg text-white">Acceder</button>
                    </div>
                </form> -->

                <div class="d-grid gap-2">

                    <!-- <button type="button" (click)="ingresar()" class="btn btn-primary btn-lg text-white"> ACCEDER DIRECTO</button> -->
                    <!-- <a class="btn btn-primary btn-lg text-white" href="https://idp.jaguar-ep.com/authorization?redirect_uri=https://hunbeh.jaguar-ep.com/jaguar/desktop/auth/authsso&client_id=hunbeh.jaguar-ep.com&nonce={{GetNonce()}}&scope=openid&response_type=code"> ACCEDER SSO</a> -->
                    <a class="btn btn-primary btn-lg text-white" href="https://idp.jaguar-ep.com/authorization?redirect_uri=https://hunbeh.jaguar-ep.com/auth.html&client_id=hunbeh.jaguar-ep.com&nonce={{GetNonce()}}&scope=openid&response_type=code"> ACCEDER SSO</a>
                </div>
            </div>
        </div>
    </div>
</div>