<div class="row">
    <div class="col-lg-8 offset-2">
        <!-- <div class="card">
            <div class="card card-body"> -->
        <img src="https://interacthink.com/jaguar/desktop/assets/images/logo.svg" width="250" class="rounded mx-auto d-block" />
        <!-- </div>
        </div> -->
    </div>
    <div class="col-lg-8 offset-2">
        <div class="card" style="background-color:rgba(0,0,0,0.45);border:0px;border-radius: 20px;">
            <div class="card card-body" style="background-color:rgba(0,0,0,0.45);color:white!important;border-radius: 20px;border:0pxk">
                Mi code recibido es: {{this.code}}<br> {{this.aviso1}}
            </div>
        </div>
    </div>
</div>