<div class="container mt-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:black;opacity:0.7;color:white!important">
                <div class="card-body text-center">
                    <span>NOTICIAS</span>

                    <div class="row mt-4" *ngFor="let noti of listaNoticias" style="border-top:3px solid #F3AF4F">
                        <div class="col-lg-4 mt-2"><img src="http://localhost:8000/uploadsNoticias/{{ noti.imagen }}" class="img-fluid img-thumbnail"></div>
                        <div class="col-lg-3 mt-2 text-start">{{ noti.titulo | uppercase }}</div>
                        <div class="col-lg-5 mt-2 text-start">{{ noti.descripcion }}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>